/* Setup css.... */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
p{
    margin: 0;
    line-height: 1.5;
}

::-webkit-scrollbar{
    display: none;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* ------------------ */
.container{
    margin-inline: auto;
    width: min(90%,70.5rem);
}

.bg-1{
    background-color: #F1ECC3;
}
.bg-2{
    background-color: #C9D8B6;
}
.bg-3{
    color: whitesmoke;
    background-color: #57837B;
}
.bg-4{
    color: whitesmoke;
    background-color: #515E63;
}
.text-center{
    text-align: center;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.herohead{
    font-size: 5rem;
    line-height: 1;
}
.herosubhead{
    font-size: 2rem;
    margin-bottom: 4rem;
}
.sectionhead{
    font-size: 3rem;
}
.paratext{
    font-family: monospace;
    font-size: 1rem;
}
section{
    padding: 3rem 2rem;
}
img{
    border-radius: 1em;
    width: 100%;
    margin: 2rem 0;
}
.heroimage{
    align-self: center;
    margin-top: 1.5rem;    
    border-radius: 100%;
    width: 16rem;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
header{
    background-image: linear-gradient(rgb(53, 53, 53),rgba(0, 0, 0, 0));
    position: fixed;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerlink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 1rem;
}
.headericon{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: .4rem;
    border-radius: 100%;
}
.headericon:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 100%;
}
.headericon:focus{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 100%;
}
.split{
    display: flex;
    flex-direction: column;
}
footer{
    padding-bottom: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(146, 62, 62));
}
.footertext{
    font-size: .8rem;

}

.fade-in{
    opacity: 0;
    transition: opacity .5s ease-in;
}
.fade-in.appear{
    opacity: 1;
}
.from-left{
    transform: translateX(-50%);
}
.from-right{
    transform: translateX(50%);
}
.from-left,
.from-right{
    transition: transform .5s ease-in;
}
.from-left.appear,
.from-right.appear{
    transform: translateX(0);
}
@media (min-width: 1000px){
    .split{
        flex-direction: row;
        align-items: center;
    }
    .split > * {
        flex-basis: 100%;
    }
    img{
        width: 30%;
    }
    .paratext{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .footertext{
        font-size: 1rem;
    }
}